<%= hidden_field :authorization_handler, :handler_name, value: "extended_socio_demographic_authorization_handler" %>

<div class="card-section">
  <div class="row">
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :first_name, minlength: 1, pattern: "[A-Za-z]+", autocomplete: "given-name", label: t(".name") %>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :last_name, minlength: 1, pattern: "[A-Za-z]+", autocomplete: "given-name", label: t(".lastname") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :usual_first_name, pattern: "[A-Za-z]+", autocomplete: "family-name", label: t(".usual_firstname") %>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :usual_last_name, pattern: "[A-Za-z]+", autocomplete: "family-name", label: t(".usual_lastname") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <%= form.date_select :birth_date, {label: t(".birth_date"), start_year: Date.today.year - 120, end_year: Date.today.year }, { class: "columns medium-3" } %>
    </div>
    <div class="columns margin-bottom-1 postal_code_help">
      <small><em><%= t(".birth_date_help") %></em></small>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :address, autocomplete: "street-address", label: t(".address") %>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <div class="field">
        <%= form.text_field :postal_code, pattern: "^[0-9]+$", minlength: 5, maxlength: 5, autocomplete: "postal-code", label: t(".code") %>
      </div>
    </div>
    <div class="columns medium-8">
      <div class="field">
        <%= form.select :city, [], { label: t(".city") }, { disabled: "disabled" } %>
      </div>
    </div>

    <div class="columns margin-bottom-1 postal_code_help">
      <small><em><%= t(".postal_code.help_message") %></em></small>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :email, type: "email", autocomplete: "email", label: t(".email") %>
  </div>


  <div class="row">
    <div class="columns">
      <div class="field">
        <%= form.check_box :certification, label: t(".certification") %>
      </div>
    </div>
    <div class="columns">
      <div class="field">
        <%== form.check_box :news_cese, label: t(".news_cese") %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "extended_socio_demographic_authorization_handler" %>
<%= stylesheet_pack_tag "extended_socio_demographic_css" %>
