<%= hidden_field :authorization_handler, :handler_name, value: "extended_socio_demographic_authorization_handler" %>

<div class="card-section">
  <div class="row">
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :first_name, minlength: 1, pattern: "[A-Za-z]+", autocomplete: "given-name", label: t(".name") %>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :last_name, minlength: 1, pattern: "[A-Za-z]+", autocomplete: "family-name", label: t(".lastname") %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :address, placeholder: "10 avenue de la mairie", autocomplete: "street-address", label: t(".address") %>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <div class="field">
        <%= form.text_field :postal_code, pattern: "^[0-9]+$", minlength: 5, maxlength: 5, autocomplete: "postal-code", label: t(".code") %>
      </div>
    </div>
    <div class="columns medium-8">
      <div class="field">
        <%= form.text_field :city, label: t(".city") %>
      </div>
    </div>

    <div class="columns margin-bottom-1 postal_code_help">
      <small><em><%= t(".postal_code.help_message") %></em></small>
    </div>
  </div>

  <fieldset >
    <legend><%= t(".email_or_phone_legend") %></legend>

    <div class="columns">
      <div class="field">
        <%= form.text_field :email, placeholder: "example@example.org", type: "email", autocomplete: "email", label: t(".email") %>
      </div>
    </div>
    <div class="columns">
      <div class="field">
        <%= form.text_field :phone_number, type: "tel", placeholder: "0601010101", autocomplete: "tel", label: t(".number") %>
      </div>
    </div>

    <div class="columns margin-0">
      <small><em><%= t(".email_or_phone_field") %></em></small>
    </div>
  </fieldset>

  <div class="row">
    <div class="columns">
      <div class="field">
        <%= form.check_box :resident, label: t(".resident") %>
      </div>
    </div>
    <div class="columns">
      <div class="field">
        <%== form.check_box :rgpd, label: t(".rgpd") %>
      </div>
    </div>
  </div>
</div>
<div class="padding-2">
  <strong><%= I18n.t('decidim.authorization_handlers.extended_socio_demographic_authorization_handler.help_text.global_help_html')%></strong>
</div>

<%= javascript_pack_tag "extended_socio_demographic_authorization_handler" %>
<%= stylesheet_pack_tag "extended_socio_demographic_css" %>
