<%= hidden_field :authorization_handler, :handler_name, value: "extended_socio_demographic_authorization_handler" %>
<div class="card-section">
  <div class="row">
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :last_name %>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="field">
        <%= form.text_field :first_name %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :address %>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <div class="field">
        <%= form.text_field :postal_code %>
      </div>
    </div>
    <div class="columns medium-8">
      <div class="field">
        <%= form.select :city, [] %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-8">
      <div class="field">
        <%= form.text_field :email %>
      </div>
    </div>
    <div class="columns medium-4">
      <div class="field">
        <%= form.text_field :phone_number %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.check_box :resident %>
  </div>
  <div class="field">
    <%== form.check_box :rgpd %>
  </div>
</div>
